@font-face {
    font-family: "Lato Black";
    src: 
    // пробуем подгрузить этот шрифт из кэша пользоваетля
    local("Lato-Black"),
    local("Lato Black"),
    url("../fonts/LatoBold.woff2") format("woff2"),
    url("../fonts/Lato-Bold.woff") format("woff");
    font-style: normal;
    font-display: swap;       
   }
   @font-face {
    font-family: "Lato Black";
    src: 
    // пробуем подгрузить этот шрифт из кэша пользоваетля
    local("Lato-Regular"),
    local("Lato Regular"),
    url("../fonts/LatoRegular.woff2") format("woff2"),
    url("../fonts/LatoRegular.woff") format("woff");
    font-style: normal;
    font-display: swap;       
   }
   
   body {
       font-family: 'Lato Regular', sans-serif;
       font-size: 14px;
   }